# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.coverage
htmlcov/

# Environment
.env

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log

# Data
data/raw/*
!data/raw/.gitkeep

# Docker
postgres_data/

# Airflow runtime files
airflow/logs/
airflow/config/

# Legacy Airflow runtime directories
logs/

*.egg-info/